<form class="ui form segment">
    <h3 class="ui header">
        Login
    </h3>
    <div class="required field">
        <label for="username">Username</label>
        <div class="ui icon input">
            <input type="text">
            <i class="user icon"></i>
        </div>
    </div>
    <div class="required field">
        <label for="password">Password</label>
        <div class="ui icon input">
            <input type="password">
            <i class="visible icon" style="cursor: pointer;"></i>
        </div>
    </div>

    <div class="action">
        <button class="ui green submit button">Submit</button>
        <button class="ui red button">Reset</button>
    </div>
</form>