<div class="ui two column grid">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a routerLink="page" routerLinkActive="active" class="item">Page</a>
            <a routerLink="post" routerLinkActive="active" class="item">Post</a>
            <a routerLink="menu" routerLinkActive="active" class="item">Menu</a>
            <!-- <a routerLink="comments" routerLinkActive="active" class="item">Comments</a> -->
        </div>
    </div>

    <div class="twelve wide column">
        <router-outlet></router-outlet>
    </div>
</div>