<div class="ui page grid">
    <div class="ui column">
        <div class="ui segment">
            <div class="ui header">
                Home Page Works
            </div>
            <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio ipsum totam tempore, nihil vel
                similique eius libero repudiandae non quia ratione dignissimos assumenda veritatis eligendi! Eius
                quibusdam dolorem eveniet sunt!

                <br>
            </div>
        </div>
    </div>
</div>